<div class="flex justify-center w-full">
    <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "bg-maroon hover:bg-maroon-light p-3 rounded-lg text-white cursor-pointer" %>
</div>