<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing officer position</h1>

  <%= render "form", officer_position: @officer_position %>

  <%= link_to "Show this officer position", @officer_position, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to officer positions", officer_positions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
