<% if current_user.member.position_id == 2 || current_user.member.position_id == 3 %>
  <h1 class="text-6xl font-black">Your Points</h1>
  <br>
  <p> All members will be required to participate <b>at least once</b> in each of the 5 mandatory events and earn an additional 10 points per semester.
      All events except Sports Fest are hosted multiple times during the semester. If you have an emergency or conflict please contact <b>as soon as possible</b>.
  </p>
  <div class="md:px-32 py-8 w-full">
    <div class="shadow overflow-hidden rounded border-b border-gray-200">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Points Category</th>
            <th class="w-1/3 text-center py-3 px-4 uppercase font-semibold text-sm">Earned</th>
            <th class="w-1/3 text-center py-3 px-4 uppercase font-semibold text-sm">Required</th>
          </tr>
        </thead>
      <tbody class="text-gray-700">
        <tr>
          <td class="w-1/3 text-left py-3 px-4">Mandatory Event</td>
          <td class="w-1/3 text-center py-3 px-4"><%=current_user.member.points%></td>
          <td class="w-1/3 text-center py-3 px-4">5</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="w-1/3 text-left py-3 px-4">Snack/Chalk</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
        </tr>
        <tr>
          <td class="w-1/3 text-left py-3 px-4">Intramural</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="w-1/3 text-left py-3 px-4">Friend/Fundraiser</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
          <td class="w-1/3 text-center py-3 px-4">0</td>
        </tr>
        <tr>
        <td class="w-1/3 text-left py-3 px-4">SFK Socials</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="w-1/3 text-left py-3 px-4">Committee Socials</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
      </tr>
      <tr>
        <td class="w-1/3 text-left py-3 px-4">Sports Fest Prep</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="w-1/3 text-left py-3 px-4">Meetings</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
        <td class="w-1/3 text-center py-3 px-4">0</td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
  <hr class="mb-10">
<% end %>
