<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="text-6xl font-black">Information</h1>
    <% if current_user.member.position_id == 3 %>
      <%= link_to 'New Info', new_sfk_info_path, class: "mt-2 py-3 px-5 inline-block font-medium bg-maroon hover:bg-maroon-light rounded-lg text-white" %>
    <% end %>
  </div>
  <hr class="mb-10">
</div>