<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">Information</h1>
    <% if current_user.member.position_id == 3 %>
      <%= link_to 'New Info', new_sfk_info_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>
</div>