<h1 class="text-6xl font-black">About Us</h1>
<hr class="mb-10">
<h2 class="text-2xl mb-3 font-semibold">Our Mission</h2>
<p class="mb-5">
    We hope to create possibilities for children (ages ~4-12) from the Bryan/College Station
    area to obtain involvement in youth organized sports and by promoting the importance of athletic
    activities in the lives of young people. In doing this, we hope to display how a student organization
    can positively impact a community while creating an enthusiastic social environment.
</p>
<h2 class="text-2xl mb-3 font-semibold">History</h2>
<p class="mb-5">
    Founded in 2000, Sports For Kids has been serving the Bryan/College Station community for over twenty years.
</p>
<h2 class="text-2xl mb-3 font-semibold">Contact Us</h2>
<%= render "partials/contact_form" %>

<br><br>

    <p class="my-5">
        <strong class="block font-medium mb-1">Mission:</strong>
        <%= @info.mission %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">History:</strong>
        <%= @info.history %>
    </p>

<% if user_signed_in? %>
    <% if current_user.member.position.can_change_positions? %>
        <%= link_to 'Edit Information', edit_sfk_info_path(@info), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %> 
<% end %>
</div>