<h1 class="text-6xl font-black">About Us</h1>
<hr class="mb-10">

<h2 class="text-2xl mb-3 font-semibold">Our Mission</h2>
<p class="my-5">
    <%= @info.mission %>
</p>

<h2 class="text-2xl mb-3 font-semibold">History</h2>
<p class="my-5">
    <%= @info.history %>
</p>

<h2 class="text-2xl mb-3 font-semibold">Contact Us</h2>
<%= render "partials/contact_form" %>
