<style>
  body
  {
    background-image: url('https://media.giphy.com/media/CS1St9o4yUoCc/giphy.gif');
    background-size: cover;
    height: 100vh;
  }
</style>

<div class="flex justify-center">
    <%= image_tag ("logo_white2.png"), class: "h-1/4 w-auto" %>
</div>
