<div class="flex justify-center">
    <%= image_tag ("logo.png"), class: "h-1/4 w-auto" %>
</div>
<!--
<div class="relative" style="padding-top: 20.25%">
  <iframe class="absolute inset-0 w-full h-full" src="..\..\assets\about_video.mp4" frameborder="0" …></iframe>
</div>
-->
