<h1 class="text-6xl font-black">Status</h1>
<hr class="mb-10">
<h2 class="text-3xl font-semibold">Your Application Status: </h2>
<%= button_to "Cancel My Application", applications_path(application), method: :update %>
<h2 class="text-3xl font-semibold">Upcoming Recruitment Events: </h2>
