<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-bold text-4xl">Members</h1>
  </div>

  <div id="members" class="min-w-full">
    <%= render @members %>
  </div>
</div>
