<div class="flex mb-1">
  <h1 class="text-6xl font-black inline-block flex-grow">Profile</h1>
  <%= link_to 'Edit', edit_member_path(@member), class: "mt-2 py-3 px-5 inline-block font-medium bg-maroon hover:bg-maroon-light rounded-lg text-white" %>
</div>
<hr class="mb-10">
<div class="md:w-2/3 w-full flex">
  <% image_tag (@member.user.avatar_url), class: "rounded-full w-1/3 h-auto" %>
  <%= render @member %>
</div>
